@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 4, 38);
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: greenyellow;
}

header {
    z-index: 1;
    background-color:  rgb(3, 4, 38);
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid greenyellow;
    padding: 0vh 0vh 0vh 0vh;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: center;
}

nav li a{
    color: rgb(174, 175, 173);
    padding: 5px;
    display: flex;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}

a:hover {
    color: PaleGreen;
}

.maior-que {
    margin-right: 2vh;
    color: greenyellow;
}
/*

colocar esse efeito em algum lugar ksksk vai ficar legal :D

.blur-efeito{
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 20vh;
    font-size: 10vh;
    filter: blur(5px);
    opacity: 0.5;
}*/

.apresentacao-conteudo {
    height: 100vh;
    
}

.apresentacao {
    font-family: 'IBM Plex Mono', monospace;
    margin: 15vh 0vh 0vh 15vh;
    color: greenyellow;
    height: 100vh;
}

.titulo-apresentacao {
    font-weight: 300;
    font-size: medium;
    margin-bottom: 15px;
}

.subtitulo-apresentacao {
    font-weight: 700;
    font-size: 60px;
}

.texto-apresentacao {
    width: 50vh;
    opacity: 0.5;
    font-size: 20px;
    /*filter: blur(1px);*/
}

.texto-ilustrativo {
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    display: flex;
    color: greenyellow;
    height: 10vh;
    padding: 0vh;
    opacity: 0.3;
    filter: blur(3px);
    font-weight: 700;
    margin: 0;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    margin-top: 35vh;
    position: relative;
    left: 85%;
}

/*Parte sobre mim*/
.titulo {
    font-family: 'IBM Plex Mono', monospace;
    color: greenyellow;
}

.about {
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0vh 0vh 0vh 0vh;
    color: greenyellow;
    height: 80vh;
}

img {
    margin-right: 5vh;
    width: 40vh;
    opacity: 0.5;
}

ul.lista-habilidades {
    display: flex;
    display: inline-block;
    align-items: center;
    margin-top: 2vh;
}


ul.lista-habilidades2 {
    display: flex;
    display: inline-block;
    align-items: center;
}

.lista-habilidades {
    padding-left: 5vh;
}

.about-text {
    margin-top: 1vh;
    padding-left: 5vh;
    padding-right: 20vh;
    opacity: 0.5;
    margin-bottom: 1vh;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: greenyellow;
}
  
 
::-webkit-scrollbar-thumb {
    background-color:  rgb(3, 4, 38);
}

/*Parte dos Projetos*/

.projetos {
    display: flex;
}

.projeto-texto {
    font-family: 'IBM Plex Mono', monospace;
    margin: 15vh 0vh 0vh 15vh;
    color: greenyellow;
    height: 100vh;
}


/* 
Aqui para fazer o efeito de email seguir o scroll

elemento {
    position: fixed;
    left: 0;
  }
  
*/